# Service config file for Oracle Yum Region Configuration.

[Unit]
Description=Oracle Cloud Infrastructure Yum Region Setting Service
After=network-online.target
Requires=network-online.target
Before=cloud-config.service

[Service]
PermissionsStartOnly=True
ExecStart=/usr/sbin/oci-yum-repo-mapper
Type=simple
RemainAfterExit=yes

# Restart the process when it fails.
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
