# PACKER_REPO - the cloned source directory location
PACKER_REPO=<location of oracle-linux-image-tools source >
# BUILD_NUMBER - a unique build number
BUILD_NUMBER=11
# UPDATE_TO_LATEST - 'Yes' or 'No' or 'Security'. Setting to "Security" means the image will update with latest CVEs errata. Setting to "Yes" means the image will update with all errata, not only CVEs errata.  and setting to "No" means the image will have older packages which do not have the latest security fixes, and is a security concern. 
UPDATE_TO_LATEST=Yes
# Default, UEK4 and UEK5 are supported values. Setting to default will install default UEK kernel, setting it to UEK4 or UEK5 will update to that kernel if not already installed.
ENABLE_UEK_REPO=UEK5
# ENABLE_KSPLICE - Default is No. 
ENABLE_KSPLICE=No
# ISO_URL -- location of the ISO file
ISO_URL=</Path-to-url/OracleLinux-R7-U6-Server-x86_64-dvd.iso>
# ISO_SHA1 -- checksum for the ISO file
ISO_SHA1_CHECKSUM=<iso-checksum-value>
# Setting ISO_TO_BASEIMG true for base image, the base image format will be ova format. 
ISO_TO_BASEIMG=false
# ISO_NAME 
ISO_NAME=OracleLinux-R7-U6-Server-x86_64-dvd.iso
# KS_CONFIG - http path for the kicstart config
KS_CONFIG=<http://Path-to-url/ol.cf>
# BUILD_REL - OS Major Release
BUILD_REL=OL7
# BUILD_UDP - OS Minor Release
BUILD_UPD=U6
# Image_TYPE - azure_img or ovm_img
IMAGE_TYPE=azure_img
# Set a proper image version
IMAGE_VERSION=2.0
# Setting DISK size is optional, by default, it is set to 15G for Oracle VM images and 30G for Azure images.
#DISK_SIZE=30
# HTTP path toAzure database license  -- applicable only for Azure
AZURE_DBLICENSE=</path-to-AzureDBLicense>
# HTTP proxy if required
#PROXY_URL=<http proxy>
